@model Model.EF.Product
@{
    ViewBag.Title = "Chi tiết sản phẩm ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
}
@section styleHeader{
<style type="text/css">
    h3.lineThrough {
            text-decoration: line-through;
        }
</style>
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <h3><a href="/">Trang chủ</a> >>>> <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    <a href="#" target="_blank"><img src="@Model.Image" alt="" /></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.Name </h2>
                    <p>@Html.Raw(Model.Descriptions)</p>
                    <div class="price">
                        @if (Model.PromotionPrice == null)
                        {
                            <p>Giá: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") + " VNĐ" : "Liên hệ")</span></p>
                        }
                        else
                        {
                            <ul>
                                <li>  <p>Giá: <span>@(Model.PromotionPrice.Value.ToString("N0") + " VNĐ" )</span></p></li>
                                <li><h3 class="lineThrough"> @( Model.Price.Value.ToString("N0") + " VNĐ" )</h3> </li>
                                 
                            </ul>
                        }

                    </div>
                    <div class="share-desc">
                        <div class="button"><span><a href="/them-gio-hang?productId=@Model.ID&quantity=1">Thêm vào giỏi</a></span></div>
                        <div class="clear"></div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi tiết sản phẩm</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc">
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({

                    });
                });
            </script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản phẩm liên quan</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                @foreach (var item in relatedProducts)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="@url"><img src="@item.Image" alt=""></a>
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">
                                <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏi</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            @{Html.RenderAction("ProductCategory", "Product"); }

            <div class="community-poll">
            </div>
        </div>
    </div>
</div>
